/* @theme skywill */

@import "default";

section {
  font-family: "Arial", "Hiragino Maru Gothic ProN";
  background-color: white;
  background-repeat: no-repeat;
  background: linear-gradient(to bottom, transparent, #16589d 5%, white 5% );
}

section footer {
    color: #fff;
    background-color: #16589d;
    font-family: "Advent Pro", sans-serif;
    width: 100%;
    text-align: center;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
}

section footer:before {
    /* background-image: url(https://www.skywill.jp/img/logo.png); */
    /* background-image: url(https://pbs.twimg.com/profile_images/869169097677742080/kOyNTDua_400x400.jpg); */
    /* background-image: url(./skywill-logo.png); */
    content: '';/*何も入れない*/
    display: inline-block; /* ←必要 */
    background-repeat: no-repeat;
    background-size: 50px;
    width: 50px;
    height: 20px;
}
